/* I have inserted the fonts from MND website url:https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Web_fonts and using this link I Got the google fonts link url:https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* to align the text uniformly I have altered the margin and padding to 0 px so that it is evenly distributed*/
*{
    margin: 0;
    padding: 0;
}
/* I have grouped the h1 and h2 as it has similar properties*/
h1,h2 {
    font-family: Playfair Display;
    margin: 20px;
    padding: 30px 20px 20px 20px;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-weight: bold; 
}
/* I have included the font size and the font-weight to over ride the user agent style sheet*/

h1 {
    color:rgb(15, 15, 15);
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
}
h2 {
    color:rgb(15, 15, 15);
    font-size: 25px;
    position: fixed;
    width: 100%;
    top: 25px;
    margin: 10px;
    margin-left: 0px;
}

/* This summary part is the css part for the second page*/
.summary{
    font-family: "Crimson Text", serif;
    margin: 200px 0px 20px 20px;
    padding: 20px;
    font-family: Playfair Display;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}


/* This is the body content of the both pages*/
body {
    background-color: whitesmoke;
    font-family: "Crimson Text", serif;
    text-align: left;
}

/* This main class is to target the main index.html page to align the ody content below the header content which is fixed*/
body.main {
    margin-top: 200px;
}

/* This is the option A which I have included a Navbar which has a fixed postion aligned to right*/
#navbar {
    position: fixed;
    font-family: "Crimson Text", serif;
    padding: 20px;
    background:aqua;
    text-align: center; 
    top: 110px;
}    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: skyblue;
}
li {
    display: inline-block;  
}
li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: aquamarine;
}

/* To indicate which is the active page You are seeing I included the class active in Each page and gave the background color as floral white to show which page you are standing on*/
li a.active{
    background-color: floralwhite;
}

/*h3 has a uniform pattern throughout the two pages where font I have imported at the top from google fonts*/
h3 {
    font-family: Young Serif; 
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    color: grey;
    background-color: lightblue;
    text-align: left;  
}

/* This is the about me section */
.about-me {
    background-color: whitesmoke;
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

/* All paragraph elements have the similar spacing */
p {
    font-family: "Crimson Text", serif;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
}

/* This is my Option B where I have included my Github, Linkdin page and the third link will be my college link in the table option below.*/ 
.contact-me {
    background-color:whitesmoke;
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}
.contact-me a:link {
    background-color: skyblue;
    border-radius: 50%;
    color: blueviolet;
    padding: 10px 10px;
    text-decoration: underline;
    display: inline-block;
}
.contact-me a:visited{
    color: black;
}

/* For hovering the mouse and the active page color */
a:hover, a:active {
    background-color: goldenrod;
}

/* The Education Section contains my option C Where I have included a table which was referenced from the w3schools url:https://www.w3schools.com/css/css_table.asp*/
.education {
    background-color:whitesmoke;
    margin: 20px;
    padding: 20px;
}
.table {
    font-family: Oswald;
    width: 100%;
    border-collapse: separate; /* I have seperated the border to look atractive*/
    border: 2px solid #333;
    margin-left: auto;
    margin-right: auto; /* to align the table center*/
}
.table th {
    background-color: grey;
    color: white;
    font-weight: bold; /* for heading to appear bold*/
    padding: 10px;
    text-align: left;
    overflow-x:auto;
}
.table td {
    text-align: left;
    border-bottom: 2px solid #ddd;
}
/* selects the odd rows to appear whitesmoke in color*/
.table tr:nth-child(odd) {
    background-color: lightskyblue; 
}

/* while the mouse curson points over the text it hover the space in red color*/
.table tr:hover {
    background-color: lightblue;
}
.table a:link {
    background-color: skyblue;
    color: blueviolet;
    padding: 10px 10px;
    text-decoration: underline;
    display: inline-block;
} 

/* This is my Project section*/
.projects {
    background-color: whitesmoke;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}
.para{
    margin: 20px;
    padding: 20px;
}

